In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/titanic.csv')

In [ ]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Output
0            1         0       3  ...   7.2500     0       S
1            2         1       1  ...  71.2833     C       C
2            3         1       3  ...   7.9250     0       S
3            4         1       1  ...  53.1000     C       S
4            5         0       3  ...   8.0500     0       S

[5 rows x 12 columns]

In [ ]:
inputs=df.drop('Output',axis='columns')

In [ ]:
target=df['Output']

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_sex=LabelEncoder()
le_name=LabelEncoder()
le_tik=LabelEncoder()
le_cab=LabelEncoder()

In [ ]:
inputs['sex_n']=le_sex.fit_transform(inputs['Sex'])
inputs['name_n']=le_name.fit_transform(inputs['Name'])
inputs['ticket_n']=le_tik.fit_transform(inputs['Ticket'])

In [ ]:
inputs

     PassengerId  Survived  Pclass  ... sex_n name_n  ticket_n
0              1         0       3  ...     1    108       523
1              2         1       1  ...     0    190       596
2              3         1       3  ...     0    353       669
3              4         1       1  ...     0    272        49
4              5         0       3  ...     1     15       472
..           ...       ...     ...  ...   ...    ...       ...
886          887         0       2  ...     1    548       101
887          888         1       1  ...     0    303        14
888          889         0       3  ...     0    413       675
889          890         1       1  ...     1     81         8
890          891         0       3  ...     1    220       466

[891 rows x 14 columns]

In [ ]:
inputs_n=inputs.drop(['Sex','Name','Ticket','Cabin'],axis='columns')
inputs_n

     PassengerId  Survived  Pclass   Age  ...     Fare  sex_n  name_n  ticket_n
0              1         0       3  22.0  ...   7.2500      1     108       523
1              2         1       1  38.0  ...  71.2833      0     190       596
2              3         1       3  26.0  ...   7.9250      0     353       669
3              4         1       1  35.0  ...  53.1000      0     272        49
4              5         0       3  35.0  ...   8.0500      1      15       472
..           ...       ...     ...   ...  ...      ...    ...     ...       ...
886          887         0       2  27.0  ...  13.0000      1     548       101
887          888         1       1  19.0  ...  30.0000      0     303        14
888          889         0       3   NaN  ...  23.4500      0     413       675
889          890         1       1  26.0  ...  30.0000      1      81         8
890          891         0       3  32.0  ...   7.7500      1     220       466

[891 rows x 10 columns]

In [ ]:
target

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Output, Length: 891, dtype: object

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs_n,target)

ValueError: ignored